body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: beige;
}

.textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #06AED5;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 100%;
  border-top: 1px solid white;
  padding-top: 2%;
}

.col-sm-1 {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
  border-right: 1px dashed #000000;
  border-radius: 5px;
  background-color: #f5f5dc;
}

.past {
  background: rgb(245,245,220);
  background: linear-gradient(90deg, rgba(245,245,220,1) 0%, rgba(154,154,147,1) 44%);
}

.present {
  background: rgb(245,245,220);
  background: linear-gradient(90deg, rgba(245,245,220,1) 0%, rgba(199,74,60,1) 44%);
}

.future {
  background: rgb(245,245,220);
  background: linear-gradient(90deg, rgba(245,245,220,1) 0%, rgba(60,199,74,1) 44%);
  
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
  background: rgba(6,174,213,1);
  color: white;
  border-style: groove;
  height: 5rem;
  width: 100%;

}

.saveBtn i:hover {
  font-size: 40px;
  transition: all .2s ease-in-out;
}
